---
http_interactions:
- request:
    method: get
    uri: https://api.engineyard.com/accounts?name=nqtien310
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Ey-Token:
      - ddded641ce395aac73a6c829e0cf63b52a15c074
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Identity:
      - user 54252
      Link:
      - <https://api.engineyard.com/accounts?generation=1498024730&name=nqtien310&page=1&per_page=20>;
        rel="last"
      X-Total-Count:
      - '1'
      X-Ey-Host:
      - ip-10-67-147-238
    body:
      encoding: ASCII-8BIT
      string: '{"accounts":[{"id":"28b9ef37-bfed-4603-9573-6a177bae8916","account_notes":"https://api.engineyard.com/accounts-notes.28b9ef37-bfed-4603-9573-6a177bae8916","account_trial":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/trial","addons":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/addons","addresses":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/addresses","applications":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/applications","billable":false,"billing_required":true,"billing_signup_url":"https://billing.engineyard.com/signup?code=tuuk%2FXGoaPyKp6DWYh7QNZB8ChuXY%2FGV3xg0CwB7ES2ynEVKXzMuAcwHpuA6-k%2FsHlcjLzQBZess5GdrFnX1sSzJaZaXlKI%2Fp8I8Xh6prR5zJn5K7rJybo3n9-iXB0kLhLOj2glYZmT5Zr%2F8mLvXcmfGQHWJc3%2FpViE2oJpC9qp2NHqB0SLsw3-pp8VrPsJV8KVI%2F5OY2TlbeVp4BhkSFHSaVnudZcJuPDvSBU34gH%2FBNQvvG%2BW-X%2FaZF1TD2tbXF%2BL3UsnbmJJsqRBBEHqvLLs2QGB116PK4%2FYTA%2FGJhgRX4D%2Bo-2isRV8QM7MkvZbFDA8XTUKM4zFdPx6GspNy2cIywap9IyMk8szJ9F%2FUeqXx7-VLwVHNvOL%2B9uwWFObrL0hgLpgSgczHpTuIFROx6wbSV93g%3D%3D","canceled_at":null,"cancellation":null,"cancelled_at":null,"created_at":"2017-06-19T10:23:29+00:00","database_services":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/database-services","emergency_contact":null,"environments":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/environments","features":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/features","finalized":true,"logical_databases":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/logical-databases","memberships":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/memberships","name":"nqtien310","owners":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/owners","plan":null,"providers":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/providers","rds_management_web_uri":"https://cloud.engineyard.com/accounts/43078/database_services","referrals":null,"referrer_account":null,"requests":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/requests","server_alerts":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/server-alerts","signup_via":"classic","ssl_certificates":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/ssl-certificates","support_plan":"standard","support_trial":null,"support_trial_status":"NA","updated_at":"2017-06-20T04:52:07+00:00","users":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/users","type":"trial"}]}'
  recorded_at: Wed, 21 Jun 2017 05:58:43 GMT
- request:
    method: post
    uri: https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916/environments
    body:
      encoding: UTF-8
      string: '{"account":"28b9ef37-bfed-4603-9573-6a177bae8916","environment":{"name":"testeyromapi_1498024722","application_id":52876,"region":"us-east-1","stack_name":"nginx_unicorn","database_stack":"postgres9_4","release_label":null,"language":"Ruby
        2.0.0"}}'
    headers:
      Content-Type:
      - application/json
      X-Ey-Token:
      - ddded641ce395aac73a6c829e0cf63b52a15c074
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Identity:
      - user 54252
      X-Ey-Host:
      - ip-10-0-3-51
    body:
      encoding: UTF-8
      string: '{"environment":{"id":120420,"account":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916","alerts":"https://api.engineyard.com/environments/120420/server-alerts","applications":"https://api.engineyard.com/environments/120420/applications","classic":true,"created_at":"2017-06-21T05:58:52+00:00","database_services":"https://api.engineyard.com/environments/120420/database-services","deleted_at":null,"firewall":null,"internal_private_key":"-----BEGIN
        RSA PRIVATE KEY-----\nMIIEpQIBAAKCAQEAwDeHgZt/qDYofuvUdoobclcrlVFuawO0lYun0P1TxcGjxk63\nENwZQHjp2wV7dScWMk3AQlwxeSkFWbhDd5M2ts2TxcsrWauOpo5IGWZC5Muuerff\njUDDRyX0FrQVJ+f9mlH3d+l6fjbXblVsT4AzIMmbppVnDiSR0I3HdGQIHpyj9IV9\nFgxuNeacbuclWPM27dLSG56P8cmGrSFpKxreeNYkux0NsGT1XBFekmwPXqF5/qlR\nBy3vDwENRkwCq1Oj8Y+1bvJoQ1V3HPLPU46qETa7vdvILEr13TXf4SVlZdjBBEWl\n7szST426geeSI/qX+zq9A92d7O/b0vf+FPNcYwIDAQABAoIBAQC43S8P8bOG3f94\ngetmzlCzWS7rftPJTFkDcrtFfj5xdVjDwrTCHEyU+zU+ljk0ZREt9CUyLWTPeC[...]
- request:
    method: post
    uri: https://api.engineyard.com/environments/120420/boot
    body:
      encoding: UTF-8
      string: '{"cluster_configuration":{"configuration":{"type":"solo"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ey-Token:
      - ddded641ce395aac73a6c829e0cf63b52a15c074
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Identity:
      - user 54252
      X-Ey-Host:
      - ip-10-149-82-94
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"type":"start_environment","id":"8894e841-f4af-403d-bffb-feaa8aeebb92","created_at":"2017-06-21T21:44:33+00:00","started_at":null,"finished_at":null,"message":null,"request_status":"In-Progress:
        Start environment (8894e841-f4af-403d-bffb-feaa8aeebb92). Progress: 0%","successful":null,"updated_at":"2017-06-21T21:44:33+00:00","read_channel":null,"stage":null,"dependencies":"https://api.engineyard.com/requests/8894e841-f4af-403d-bffb-feaa8aeebb92/dependencies","stages":"https://api.engineyard.com/requests/8894e841-f4af-403d-bffb-feaa8aeebb92/stages","account":"https://api.engineyard.com/accounts/28b9ef37-bfed-4603-9573-6a177bae8916","requester":"https://api.engineyard.com/requests/8894e841-f4af-403d-bffb-feaa8aeebb92/requester","messages":"https://api.engineyard.com/requests/8894e841-f4af-403d-bffb-feaa8aeebb92/messages","callback_url":"https://api.engineyard.com/requests/8894e841-f4af-403d-bffb-feaa8aeebb92/callback","progress":false,"resource":"https://api.engineyard.com/environments/120420"}}'
  recorded_at: Wed, 21 Jun 2017 21:44:27 GMT
recorded_with: VCR 3.0.3
